@charset "UTF-8";
/*
    Ao invés de se usar vários media queries dá para adicionar 
    conteúdos responsivos para cada item que se quer, para isso 
    se usa um mixin com um media querie que conterá conteúdos.
    Isso com tamanhos de tela para Tablet, PC e TV.
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan&family=Leckerli+One&family=Playwrite+AU+SA&display=swap");
.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 110px;
  transition: background-color 0.3s ease-in-out;
  font-size: 1em;
}
@media (min-width: 768px) {
  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.1em;
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .cabecalho {
    font-size: 1.2em;
  }
}
@media (min-width: 1600px) {
  .cabecalho {
    font-size: 1.3em;
  }
}

.logo {
  width: 200px;
  filter: invert(100%);
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .logo {
    width: 250px;
    margin-top: 0;
    margin-left: 2rem;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 300px;
    margin-left: 4rem;
  }
}
@media (min-width: 1600px) {
  .logo {
    margin-left: 6rem;
  }
}

@media (min-width: 768px) {
  nav {
    margin-right: 2rem;
  }
}
@media (min-width: 1200px) {
  nav {
    margin-right: 4rem;
  }
}
@media (min-width: 1600px) {
  nav {
    margin-right: 6rem;
  }
}

.menu {
  display: flex;
  width: 100%;
  padding: 0;
}
.menu > li {
  flex-grow: 1;
}
.menu > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.3rem;
  color: #fff;
}
@media (min-width: 768px) {
  .menu > li > a {
    padding: 0.6rem 0.4rem;
  }
}
@media (min-width: 1200px) {
  .menu > li > a {
    padding: 0.7rem 0.5rem;
  }
}
@media (min-width: 1600px) {
  .menu > li > a {
    padding: 0.8rem 0.6rem;
  }
}
.menu > li > a:hover {
  color: #ff6347;
}

.scrolled {
  background-color: #FFE5C4;
}

.scrolled .logo {
  filter: invert(0%);
}

.scrolled .menu li a {
  color: #000;
}

.navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navegacao > input[type=radio] {
  display: none;
}
.navegacao > input[type=radio]:hover + label {
  color: #ff6347;
  border-bottom: 2px solid #ff6347;
}
.navegacao > input[type=radio]:checked + label {
  color: #ff6347;
  border-bottom: 2px solid #ff6347;
}
.navegacao > label {
  width: 30%;
  height: 6rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  cursor: pointer;
}
.navegacao > label > i {
  font-size: 2em;
}
.navegacao > label > span {
  padding: 0 10px;
}
@media (min-width: 768px) {
  .navegacao > label {
    font-size: 1.2em;
    margin: 1rem;
  }
}
@media (min-width: 1200px) {
  .navegacao > label {
    font-size: 1.4em;
    margin: 1.5rem;
  }
}
@media (min-width: 1600px) {
  .navegacao > label {
    font-size: 1.6em;
    margin: 2rem;
  }
}

.menu__cardapio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  text-align: center;
  color: #000;
  background-color: #FFE5C4;
  margin: 2rem 0;
}
.menu__cardapio > .item__cardapio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 24rem;
  width: 16rem;
  background-color: white;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.menu__cardapio > .item__cardapio > div .item__cardapio--nome {
  font-size: 1.5em;
}
.menu__cardapio > .item__cardapio > .item__cardapio--imagem {
  width: 95%;
  height: 15rem;
  border-radius: inherit;
  transition: all 0.2s ease-in-out;
}
.menu__cardapio > .item__cardapio > .item__cardapio--imagem:hover {
  filter: contrast(120%);
}
.menu__cardapio > .item__cardapio > div .item__cardapio--descricao {
  display: none;
}
.menu__cardapio > .item__cardapio > div .item__cardapio--preco {
  font-size: 1.3em;
  color: #ff6347;
  text-shadow: 1px 1px 1px black;
}
@media (min-width: 1200px) {
  .menu__cardapio > .item__cardapio {
    height: 26rem;
    width: 18rem;
  }
}

.carrossel {
  width: 100%;
  height: 500px;
  position: relative;
}
.carrossel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .carrossel {
    height: 700px;
  }
}
@media (min-width: 1200px) {
  .carrossel {
    height: 100vh;
  }
}

/* Ajusta o fundo dos botões para melhor visibilidade */
.carousel-control-prev,
.carousel-control-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%; /* Posiciona no centro vertical */
  transform: translateY(-50%); /* Corrige o alinhamento */
  margin: 0 0.5rem;
  z-index: 2;
}
@media (min-width: 1200px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 100px; /* Ajusta o tamanho do botão*/
    height: 100px;
    margin: 0 1rem;
  }
}
@media (min-width: 1200px) {
  .carousel-control-prev > .carousel-control-prev-icon, .carousel-control-prev .carousel-control-next-icon,
  .carousel-control-next > .carousel-control-prev-icon,
  .carousel-control-next .carousel-control-next-icon {
    width: 50px; /* Largura da seta */
    height: 50px; /* Altura da seta */
  }
}

.carousel-item img {
  width: 100%;
  height: 500px;
}
@media (min-width: 768px) {
  .carousel-item img {
    height: 700px;
  }
}
@media (min-width: 1200px) {
  .carousel-item img {
    height: 100vh;
  }
}

.carousel-caption {
  z-index: 2;
  color: #ff6347;
  text-shadow: 2px 2px 0px black;
  position: absolute;
  top: 50%; /* Posiciona no meio da tela */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Corrige o alinhamento */
  text-align: center;
  width: 80%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 1200px) {
  .carousel-caption {
    text-shadow: 5px 5px 0px black;
  }
}
.carousel-caption > i {
  font-size: 7.5em;
}
@media (min-width: 768px) {
  .carousel-caption > i {
    font-size: 8.5em;
  }
}
@media (min-width: 1200px) {
  .carousel-caption > i {
    font-size: 9.5em;
  }
}
@media (min-width: 1600px) {
  .carousel-caption > i {
    font-size: 10.5em;
  }
}
.carousel-caption > p {
  font-size: 1.5em;
  font-family: "Leckerli One";
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .carousel-caption > p {
    font-size: 2.5em;
  }
}
@media (min-width: 1200px) {
  .carousel-caption > p {
    font-size: 3.5em;
  }
}
@media (min-width: 1600px) {
  .carousel-caption > p {
    font-size: 4.5em;
  }
}

.carousel-indicators {
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #fff6e9;
  font-size: 1em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.apresentacao {
  text-align: center;
  margin: 2rem auto;
  font-size: 1.1em;
}
@media (min-width: 768px) {
  .apresentacao {
    font-size: 1.3em;
    margin: 3rem auto;
  }
}
@media (min-width: 1200px) {
  .apresentacao {
    font-size: 1.5em;
    margin: 4rem auto;
  }
}
@media (min-width: 1600px) {
  .apresentacao {
    font-size: 1.7em;
    margin: 6rem auto;
  }
}
.apresentacao > .titulo {
  color: #ff6347;
  text-shadow: 1px 1px 1px black;
  font-size: 1.8em;
}

.subtitulo {
  background-color: #ff6347;
  color: #000;
  font-family: "Leckerli One";
  padding: 0.5rem 0;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .subtitulo {
    font-size: 1.7em;
  }
}
@media (min-width: 1200px) {
  .subtitulo {
    font-size: 1.9em;
    width: 80%;
  }
}
@media (min-width: 1600px) {
  .subtitulo {
    font-size: 2.1em;
  }
}

.sobre, .servicos {
  background-color: #1b1e23;
  padding: 1rem;
}

@media (min-width: 768px) {
  .sobre {
    padding: 0rem;
  }
  .sobre > .sobre__conteudo .subtitulo {
    grid-area: subtitulo;
  }
  .sobre > .sobre__conteudo p {
    grid-area: conteudo;
  }
  .sobre > .sobre__conteudo img {
    grid-area: imagem;
  }
}

@media (min-width: 768px) {
  .servicos {
    padding: 0rem;
  }
  .servicos > .servicos__conteudo div .subtitulo {
    grid-area: titulo;
    margin-top: 2rem;
  }
  .servicos > .servicos__conteudo div h3 {
    grid-area: subtitulos;
  }
  .servicos > .servicos__conteudo div ul {
    grid-area: conteudos;
  }
  .servicos > .servicos__conteudo img {
    grid-area: imagem;
  }
}

.sobre__conteudo, .servicos__conteudo {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  text-align: center;
  color: #fff;
}
.sobre__conteudo > img, .servicos__conteudo > img {
  width: 100%;
  margin: 0 auto 1rem;
}
@media (min-width: 768px) {
  .sobre__conteudo, .servicos__conteudo {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .sobre__conteudo > img, .servicos__conteudo > img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.sobre__conteudo > p {
  margin: 1rem;
}
@media (min-width: 768px) {
  .sobre__conteudo > p {
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  .sobre__conteudo > p {
    width: 60%;
    margin: auto;
    font-size: 1.2em;
  }
}
@media (min-width: 1600px) {
  .sobre__conteudo > p {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  .sobre__conteudo {
    grid-template-areas: "subtitulo imagem" "conteudo imagem" "conteudo imagem";
  }
}

.servicos__conteudo > img {
  margin: 1rem 0;
}
.servicos__conteudo > div h3 {
  color: #ff6347;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .servicos__conteudo > div ul {
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  .servicos__conteudo > div ul {
    font-size: 1.2em;
  }
}
@media (min-width: 1600px) {
  .servicos__conteudo > div ul {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  .servicos__conteudo {
    grid-template-areas: "imagem titulo" "imagem subtitulos" "imagem conteudos";
  }
}

.contato {
  margin-top: 2rem;
}
.contato > ul {
  text-align: center;
}
@media (min-width: 768px) {
  .contato > ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contato > ul > li {
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .contato > ul > li {
    padding: 1rem;
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  .contato > ul > li {
    padding: 1.5rem;
    font-size: 1.2em;
  }
}
@media (min-width: 1600px) {
  .contato > ul > li {
    padding: 2rem;
    font-size: 1.3em;
  }
}
.contato > ul > li > a {
  text-decoration: none;
  color: #000;
}
.contato > ul > li > a:hover {
  color: #ff6347;
}
.contato > ul > li > a > i:hover {
  color: #000;
}

.icones {
  font-size: 2em;
  padding: 0.1em;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid black;
}

#insta {
  background-image: linear-gradient(to top, #F59705, #F7552F, #DD0EA8, #213AD8);
}

#face {
  background-color: #106BFF;
}

#whats {
  background-color: #35C06C;
}

.rodape {
  background-color: #FFE5C4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
  padding: 1rem;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  .rodape {
    font-size: 0.9em;
  }
}
@media (min-width: 1200px) {
  .rodape {
    font-size: 1em;
  }
}
@media (min-width: 1600px) {
  .rodape {
    font-size: 1.1em;
  }
}/*# sourceMappingURL=index.css.map */