// Cabeçalho
.cabecalho{
    @include displayFlex(center, center);
    flex-direction: column;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 110px;
    transition: background-color 0.3s ease-in-out;
    font-size: 1em;

    // Conteúdos responsivos
    @include tablet(){
        @include displayFlex(space-between, center);
        flex-direction: row;
        font-size: 1.1em;
        height: 100px;
    }

    @include pc(){
        font-size: 1.2em;
    }

    @include tv(){
        font-size: 1.3em;
    }
}

// Estilos do menu após rolar a página
.scrolled {
    background-color: $bg-color-secondary;
}

.scrolled .logo{
    filter: invert(0%);
}

.scrolled .menu li a{
    color: $text-color-primary;
}

// Logo
.logo{
    width: 200px;
    filter: invert(100%);
    margin-top: 1rem;

    // Conteúdos responsivos
    @include tablet(){
        width: 250px;
        margin-top: 0;
        margin-left: 2rem;
    }

    @include pc(){
        width: 300px;
        margin-left: 4rem;
    }

    @include tv(){
        margin-left: 6rem;
    }
}

// Menu
nav{
    // Conteúdos responsivos
    @include tablet(){
        margin-right: 2rem;
    }

    @include pc(){
        margin-right: 4rem;
    }

    @include tv(){
        margin-right: 6rem;
    }
}

.menu{
    display: flex;
    margin: auto;
    width: 100%;
    padding: 0;

    & > li{
        flex-grow: 1; // O quanto um item crescerá em relação ao restante dos itens flexíveis no mesmo contêiner

        & > a{
            @include displayFlex(center, center);
            text-decoration: none;
            padding: 0.5rem 0.3rem;
            color: $text-color-secondary;

            &:hover{
                color: $bg-color-tertiary;
            }

            // Conteúdos responsivos
            @include tablet(){
                padding: 0.6rem 0.4rem;
            }

            @include pc(){
                padding: 0.7rem 0.5rem;
            }

            @include tv(){
                padding: 0.8rem 0.6rem;
            }
        }
    }
}